{% extends '/layout/base.jinja' %}

{% block title %}
Form
{% endblock %}

{% block content %}
<h1>Form</h1>

<form method="post">
  <input type="email" name="email" placeholder="email...."><br>
  <input type="text" name="name" placeholder="name....."><br>
  <input type="password" name="password" placeholder="password...">
  <br>
  <hr>

  <button type="submit">Login</button>
</form>
{% endblock %}