<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <!-- url_for() static folder -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='banner.png') }}" type="image/x-icon">
</head>

<body>
  <ul>
    <!-- url_for() route = with def name in route -->
    <li><a href="{{ url_for('home_page') }}">Home</a></li>

    <!-- with params -->
    <li><a href="{{ url_for('about_page', name='arief') }}">About</a></li>
    <li><a href="{{ url_for('contact_page') }}">Contact</a></li>
    <li><a href="{{ url_for('form_page') }}">Login</a></li>
  </ul>

  {% block content %}
  {% endblock %}

</body>

</html>